<html>
    <head>
        <style>
            .wrapper{
                width: 30%;
                margin-top: 12%;
                margin-right: auto;
                margin-left: auto;
            }
        </style>

        <title>Authentication Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div class="wrapper">
            <p style="text-align: center; font-size: 32px; font-weight: bold; margin-bottom: 8%;">Enter Information</p>
            <form style="text-align: center;" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                <label for="des" class="form-label">Designation</label>
                <select name="designation" id="des" class="form-control">
                    <option value="student">
                        STUDENT
                    </option>
                    <option value="teacher">
                        TEACHER
                    </option>
                    <option value="other">
                        OTHER
                    </option>
                </select>
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a style="padding-left: 4px;" href="{% url 'logout' %}">logout</a>
            </form>
        </div>

    </body>
</html>